<button class="text-start p-3 w-full h-full font-medium" (click)="edit.emit()">
  @if (task.image.url) {
    <div class="mb-2 w-full h-36">
      <img
        class="w-full h-full object-cover rounded-sm"
        [src]="task.image.url"
        [alt]="task.title + ' image'"
      />
    </div>
  }

  <span class="task-title font-normal">
    {{ task.title }}
  </span>

  @if (task.tags.length > 0) {
    <div class="pt-2 text-sm flex items-center gap-2 min-h-8">
      @for (tag of task.tags; track $index) {
        <!-- prettier-ignore-attribute -->
        <span
          class="py-0.5 px-2 rounded-md bg-tag text-tag-foreground font-medium"
          [attr.style]="
            '--tag: var(--' + tag.color + ');' +
            '--tag-foreground: var(--' + tag.color + '-foreground);'
          "
        >
          {{ tag.name }}
        </span>
      }
    </div>
  }
</button>
