@import '@fontsource-variable/outfit';
@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-elevated: #ecf1f4;
  --primary: #09090b;
  --primary-foreground: #fdf8ec;
  --accent: #3663e5;
  --accent-foreground: #ffffff;
  --secondary: #c4dbfa;
  --secondary-foreground: #274cb4;
  --muted: #6B6B6B;
  --border: #e4e4e7;
  --scrollbar: #c9c9c9;

  --blue-logo: #00c6ff;
  --purple-logo: #c854ff;

  --red: #a05d54;
  --red-foreground: #5d3532;
  --blue: #c4dbfa;
  --blue-foreground: #274cb4;
  --green: #d8f4ea;
  --green-foreground: #1fa474;
  --yellow: #fff2ae;
  --yellow-foreground: #8d6109;
}

:root.dark {
  --background: #191b1f;
  --background-elevated: #292d32;
  --primary: #fdf8ec;
  --primary-foreground: #191b1f;
  --accent: #3663e5;
  --accent-foreground: #ffffff;
  --secondary: #c4dbfa;
  --secondary-foreground: #274cb4;
  --muted: #A6A6A6;
  --border: #27272a;
  --scrollbar: #545454;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
}

.cdk-drag-preview::marker {
  color: transparent;
}

.cdk-drag-preview task-card {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.cdk-drag-placeholder button {
  background-color: var(--background-elevated) !important;
  border-radius: 0.5rem;
  border: 2px solid var(--accent);
  color: transparent;
}

.cdk-drag-placeholder img {
  display: none;
}

.cdk-drag-placeholder div span {
  display: none;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
